*.gem
*.rbc
.bundle
.idea
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
sample_app_for_rnc_specs/actual
sample_app_for_rnm_specs/actual_migrations